<div class="container" style="padding-top: 1rem;">
  <h1>Welcome <%= name %></h1>
  <!-- <a href="/password">Password Reset</a> -->
  <form action="/logout" method="POST">
    <br>
    <button type="submit" class="btn btn-primary">Log Out</button>
  </form>
  </div>


 
  