<link rel="stylesheet" href="/styles/signin.css">

<div class="container text-center">
  <main class="form-signin w-100 m-auto">
    <form action="/login" method="POST">
      <h1 class="h3 mb-3 fw-normal">Sign in</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
          required
        />
        <label for="email">Email address</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
        <label for="password">Password</label>
      </div>

      <div class="d-grid gap-2 d-md-block">
        <button class="btn btn-success" type="submit">Sign in</button>
        <a href="/register" class="btn btn-secondary" role="button">Register</a>
      </div>
    </form>
  </main>
  <% if (messages.error) { %>
  <p style="color: red"><%= messages.error %></p>
  <% } %>
</div>
