<h1>Password Reset</h1>
<a href="/">Cancel</a>
<form action="/password" method="POST">
  <div>
    <label for="oldPassword">Previous Password</label>
    <input type="password" id="oldPassword" name="oldPassword" required />
  </div>
  <div>
    <label for="password">New Password</label>
    <input type="password" id="password" name="password" required />
  </div>
  <div>
    <label for="newPassword">Re-enter new password</label>
    <input type="password" id="newPassword" name="newPassword" required />
  </div>
  <button type="submit">Login</button>
</form>