<div class="container">
    <h1 class="h3" style="padding-top: 1rem">Stores:</h1>
    <table class="table">
      <tr>
        <th scope="col">StoreID</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
      </tr>
      <% data.forEach(entry => { %>
      <tr>
        <td><%= entry.storeid %></td>
        <td><%= entry.city %></td>
        <td><%= entry.state %></td>
      </tr>
      <% }) %>
    </table>
  </div>
  